body{
    margin: 0;
    padding: 0;
    display: flex;
}

.pic-container{
    position: sticky;
    width: 60vw;
    background-size: cover;
    background-repeat: repeat;
    background-image: url("img/jake-blucker-tMzCrBkM99Y-unsplash.jpg");
}



.sign-up-container > .para{
    margin-left: 30px;
    margin-top: 90px;
    color: rgb(122, 49, 15);
    font-size: 1.2em;
    font-family: 'Rowdies', cursive;
  }
  
  .sign-up-items{
    background-color: rgb(255, 230, 215);
    padding-top: 30px;
    box-shadow:  0 10px 10px rgb(226, 194, 194);
  }
  
  .sign-up-items > p{
    margin-left: 30px;
    color: rgb(122, 49, 15);
    font-size: 1.2em;
    font-family: 'Rowdies', cursive;
  }
  
  /*FORM*/
  
  .sign-up-items > form{
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
  
  form > div{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
  }

  /*INPUT-LABEL + LAST NAME / PHONE NUMBER / CONFIRM PASSWORD */

  input{
    border: 1px solid rgb(121, 118, 118);
    border-radius: 7px;
    width: 200px;
    height: 1.5em;
  }
  
  label{
    font-size:0.8em;
    color: rgb(122, 49, 15);
  }

  .ln, .pn, .cp{
    position: relative;
    left: 50px;
  }

  /*TITLE*/

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 100px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8em;
    color: rgb(255, 254, 254);
    opacity: 0.6;
    background-color: black;
  }
  
  .title > img{
    height: 100px;
    width: 100px;
  }
  
 /*SUBMISSION*/

  #submit > button{
    cursor: pointer;
    border: 1px solid;
    color: rgb(255, 255, 252);
    background-color: rgb(247, 135, 60);
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    font-size: 1.0em;
    height: 40px;
    width: 120px;
   box-shadow: 0  2px 8px   rgb(247, 95, 35);;
  } 

  #submit > p{
    position: relative;
    bottom: 35px;
    font-size: 1em;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(122, 49, 15);
  }
  
  /*CREDITS*/

  .credits{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-left: 130px;
  }

  .credits > p, a{
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: monospace;
  }

  /*MOBILE VERSION*/

  @media (max-width: 550px){
    body{
        display: flex;
        flex-direction: column;
        width: 120vw;
    }

    .pic-container{
        width: 120vw;
        height: 100vh;
        background-size: cover;
    }

    
    .credits{
        position: absolute;
        top: 0;
    }

    .sign-up-container > .para{
        font-size: 1em;
    }



    .sign-up-items > form{
        display: grid;
        gap: 30px;
    }

    .ln, .pn, .cp{
        position: static;
    }

    .sign-up-items > p, .para{
        text-align: center;
    }

    #submit{
        text-align: center;
    }
    
  }