body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

img{
    position: relative;
    height: 100vh;
    width: 40vw;
    background-size: cover;
}



.sign-up-container > .para{
    margin-left: 30px;
    margin-top: 90px;
    color: rgb(122, 49, 15);
    font-size: 1.2em;
    font-family: 'Rowdies', cursive;
  }
  
  .sign-up-items{
    background-color: rgb(255, 230, 215);
    padding-top: 30px;
    box-shadow:  0 10px 10px rgb(226, 194, 194);
  }
  
  .sign-up-items > p{
    margin-left: 30px;
    color: rgb(122, 49, 15);
    font-size: 1.2em;
    font-family: 'Rowdies', cursive;
  }
  
  
  .sign-up-items > form{
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
  
  form > div{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
  }

  input{
    border: 1px solid rgb(121, 118, 118);
    border-radius: 7px;
    width: 200px;
    height: 1.5em;
  }
  
  label{
    font-size:0.8em;
    color: rgb(122, 49, 15);
  }

  .ln, .pn, .cp{
    position: relative;
    left: 50px;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 650px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8em;
    color: rgb(255, 254, 254);
    opacity: 0.6;
    background-color: black;
  }
  
  .title > img{
    height: 100px;
    width: 100px;
  }
  